@media print {
    @page {
        size: 8.5in 11in;
        margin: 0.5in 0.5in;

        @bottom-center {
            content: counter(page);
        }

        @top-center {
            content: string(headerDate);
        }
    }

    @page :right {
        margin-left: 1.25in;
    }

    @page :left {
        margin-right: 1.25in;
    }
}

#entries,
#first-page {
    column-count: 3;
    column-gap: auto;
    column-fill: auto;
}

.entry-photo img {
    width: 100%;
    height: auto;
}

.new-day {
    display: block;
    page-break-after: avoid;
    page-break-before: auto;

    padding: 9px 2px 9px 2px;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 1em;
    letter-spacing: 0.05em;

    break-after: avoid-column;
    break-inside: avoid-column;
}

.entry-metadata {
    break-inside: avoid;
    page-break-inside: avoid;
    break-after: avoid;
    page-break-after: avoid;

    padding: 2px;
}

.stats-group {
    break-inside: avoid;
}

#entries {
    break-before: always;
}

#first-page {
    break-after: always;
}

body {
    font-family:
        Avenir,
        system-ui,
        -apple-system,
        "Segoe UI",
        "Apple Color Emoji",
        "Segoe UI Emoji";
    font-size: 10pt;
    overflow-wrap: break-word;
    hyphens: manual;
    text-align: left;
    line-height: 1.25;
}

.entry {
    margin-bottom: 2em;
}

.entry-date {
    font-size: 12pt;
    margin: 0;
}

.entry-metadata {
    background: linear-gradient(to bottom, #f0f0f0, #ffffff);
    border-radius: 0.25em 0.25em 0 0;
}

.pre-date-time,
.post-date-time {
    color: #555;
    font-size: 8pt;
    margin: 0;
    font-style: italic;
    display: block;
}

.entry-weekday {
    display: inline-block;
}

.entry-weather {
    float: right;
}

.entry-tags {
    color: #555;
    font-size: 8pt;
    margin: 0;
}

.entry-photo {
    text-align: center;
}

.tag-item {
    padding: 1px 3px;
    margin: 0;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    font-style: normal;
    font-size: 6.4pt;
}

.attachment-block {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid lightgray;
    color: rgb(96, 96, 96);
    hyphens: auto; /* The IDs get too long for the columns */
}

h1 {
    font-size: 12pt;
    margin: 0.5em 0em;
    line-height: 1.25;
}

h2 {
    font-size: 11pt;
    margin: 0.5em 0em;
    line-height: 1.25;
}

h3 {
    font-size: 10pt;
    margin: 0.5em 0em;
    line-height: 1.25;
}

h4 {
    font-size: 10pt;
    margin: 0.25em 0em;
    line-height: 1.2;
}

h5 {
    font-size: 10pt;
    margin: 0em 0em;
    line-height: 1.1;
}

h6 {
    font-size: 10pt;
    margin: 0em 0em;
    line-height: 1;
}

p {
    margin-top: 0.5em;
    break-inside: avoid;
    page-break-inside: avoid; /* legacy but still useful */
}

ul,
ol {
    padding-left: 15px;
}

li {
    break-inside: avoid;
}

pre,
code {
    /* Allows wrapping of text */
    white-space: pre-wrap;
    /* Breaks long words to fit within the container */
    word-wrap: break-word;
    font-size: 8pt;
    line-height: 1.2;
    background-color: lightgray;
    color: darkslategray;
}

table {
    font-size: 6pt;
}

tr:nth-child(even) {
    background-color: lightgray;
}

.info-table {
    font-size: 1em;
}

.info-table-label {
    text-align: left;
}

.info-table-value {
    text-align: right;
}

.info-table tr:nth-child(even) {
    background-color: initial;
}

blockquote {
    margin: 0;
    border-left-color: lightgray;
    border-left-style: solid;
    border-left-width: 3px;
    color: rgb(96, 96, 96);
    padding-left: 10px;
    break-inside: auto; /* This doesn't do what I want it to, but I'll leave it in. */
}

.am-pm {
    font-size: 0.6em;
    vertical-align: baseline;
    letter-spacing: 0.02em;
}

.hidden-date {
    display: none;
    string-set: headerDate content(text);
}
