@media print{
    @page {
        size: 8.5in 11in;
        margin: 0.75in 0.5in;
    }

    #entries {
        column-count: 2;
        column-gap: 2em;
        column-fill: balance;
    }

    .entry-photo img {
        width: 100%;
        height: auto;
    }

    .new-day {
        display: block;
        break-before: page;
        page-break-before: always;
        /* background-color: yellow; */
    }
}

@media screen {
    .entry-photo img {
        width: 300px;
        height: auto;
    }
}

body {
    font-family: "Avenir";
}

.entry {
    margin-bottom: 2em;
    /* break-inside: avoid;  */ /* This wastes a lot of space */
}

.entry-date {
    margin-bottom: 0.2em;
    font-size: 1.2em;
}

.entry-content {
    padding: 0.25em 1em;
}

.entry-metadata {
    background: linear-gradient(to bottom, #f0f0f0, #ffffff);
    padding: 0.25em 1em;
    border-radius: 0.25em 0.25em 0 0; /* Optional: softens the top */
    
    break-inside: avoid;
}

.entry-location {
    margin-bottom: 0.5em;
    color: #555;
}

.entry-tags {
    margin-bottom: 0.5em;
    color: #555;
}

.entry-photo {
    margin: 1em 0;
    text-align: center;
    break-inside: avoid;
    page-break-inside: avoid; /* fallback for older engines */
}

.new-day {
    background: linear-gradient(to right, #e6f2ff, #ffffff);
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    border-radius: 0.5em 0.5em; /* Optional */
}
